@import "../../../../styles.scss";

footer{
    width: 100vw;
    bottom: 0;
    height: 40px;
    margin-top: 20px;

    .footer-container{
        text-align: justify;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__creator{
            color:$blue;
        }
    }
}