@import "../../../../../styles.scss";

.local-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  h2 {
    color: $blue;
    text-transform: uppercase;
  }

  &__card {
    border: solid 2px $blue;
    border-radius: 10px;
    margin: 20px;
    background-color: $background;
    width: 50% img {
      width: 50%;
      border-radius: 10px;
      border: solid 2px $blue;
    }

   
  }
}

   

 
