@import" ../../../../../../../styles.scss";
.character-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  h2 {
    color: $blue;
    text-transform: uppercase;
  }
  &__card {
    border: solid 2px $blue;
    border-radius: 10px;
    margin: 20px;
    background-color: $background;
    width: 80%;

    h2 {
      color: $crawl;
    }

    img {
      width: 50%;
      border-radius: 10px;
      border: solid 2px $blue;
      width: 50%;
    }

    p {
      padding: 8px;
      margin: 8px;
      color: $crawl;
    }

    li {
      padding: 8px;
      margin: 8px;
      color: $crawl;
    }
  }
}
