@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

//PALETTE
$primary-color: rgb(19, 12, 14);
$secondary-color: rgb(221, 220, 229);
$transparent: rgba(19, 12, 14, 0.507);
$blue: rgb(104, 143, 185);
$red: rgb(182, 69, 25);
$crawl: rgb(229, 177, 58);
$background: rgb(25, 24, 29);

//RESET
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex-column;
 
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

//GLOBAL STYLES
body{
    
    background-image:url("https://res.cloudinary.com/dn0bflwpm/image/upload/v1645284572/Lord%20of%20the%20Ring/images_pdwkux.png");
}